{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="fotoprofil">
        <img src="{% static 'fotoprofil.png' %}"class="img-fluid" alt="Responsive image">
      </div>
    </div>
    <div class="col-sm">
      <div class="hello">
        <h1>Hello!<br>I'm Nabila.</h1>
      </div>
      <div class="introduction">
        <p>I'm a Computer Science Student.</p>
        <a href="{%url 'main:aboutme'%}" class="btn btn-lg active " role="button" aria-pressed="true">
          <p>Let's find out more about me!</p>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
