{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
<style>
.aboutme {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
body {
  background: rgb(197, 226, 230);
  text-align: center;
  font-family: "Muli";
}
table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}
table.center {
  margin-left:auto; 
  margin-right:auto;
}
.contact {
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
}
.icon {
  display:inline-block;
  padding: 25px;
  margin-left:auto; 
  margin-right:auto;
}
</style>
</head>
<body>
  <div class="aboutme">
    <h1>ABOUT ME</h1>
  </div>
  <p>
    <img src="{% static 'Foto profil.jpg' %}" alt="Foto profil" width="200" height="200" allign="middle">    
  </p>
  <p>Hello Everyone!<br>
      My Name is Nabila Dita Putri.<br>
      I'm a computer science student.<br>
      I really love to learn new things, especially about technology.<br>
  </p>
  <h2>Biodata</h2>
  <p>Name: Nabila Dita Putri<br>
    NPM: 1906400085<br>
    University: University of Indonesia<br>
    Class of: 2019<br>
    Hobbies: Drawing, Reading books, Watching movies<br>
  </p>

  <table style="width:50%" class="center">
    <caption><b>Educational Background</b></caption>
      <tr>
        <th>Year</th>
        <th>Education</th>
      </tr>
      <tr>
        <td>2007-2013</td>
        <td>SD Bhakti YKKP</td>
      </tr>
      <tr>
        <td>2013-2016</td>
        <td>SMPN 111 Jakarta</td>
      </tr>
      <tr>
        <td>2016-2019</td>
        <td>SMAN 78 Jakarta</td>
      </tr>
      <tr>
        <td>2019-now</td>
        <td>University of Indonesia</td>
      </tr>
  </table>
  <br>
  <div class="contact">
    <h2>Contact</h2>
      <div class="icon">
        <a href="https://www.linkedin.com/in/nabiladita"><img src="{% static 'linkedin.png' %}" height="50" width="50" /></a>
      </div>
      <div class="icon">
        <a href="https://www.instagram.com/nabiladita/"><img src="{% static 'ig.png' %}" height="50" width="50" /></a>
      </div>  
      <div class="icon">
        <a href="mailto:nabiladitaputri@gmail.com"><img src="{% static 'email.png' %}" height="50" width="50" /></a>
      </div>
  </div>  
</body>
</html>
